<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<nav style="margin-bottom: 20px;" class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <div class="container">
        <a class="navbar-brand" href="/">CerePro</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/sentiment_reports">Sentiment Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new_sentiment_report">New Sentiment Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analyze/sentiment">Manual Sentiment Analysis</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>
 