<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CerePro</title>
    <link href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container-fluid">
    <h1>Sentiment Analysis Results</h1>

    <h3>Source text:</h3>
    <p><span th:text="${sentiment_analysis.getSourceText()}"></span></p>

    <h3>Sentiment:</h3>
    <p><span th:text="${sentiment_analysis.getSentiment()}"></span></p>

    <h3>Analyzed on:</h3>
    <p><span th:text="${sentiment_analysis.getUpdatedAt()}"></span></p>

</div>
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>