<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav th:replace="fragments/header :: header"></nav>
<div class="container">
    <div class="row">
<h1>Woo, you found <span th:text="${support_case_report.getName()}"></span>!</h1>
    </div>
    <div class="row">
<p><span th:text="${support_case_report.getMonkeyLearnKeywords().size()}"></span> keywords logged</p>

        <div class="card" th:each="keyword : ${support_case_report.getMonkeyLearnKeywords()}">
            <div class="card-body">
                <h3 class="card-title"><span th:text="${keyword.getWord()}"></span></h3>
                <p class="card-text"><span th:text="${keyword.getRelevance()}"></span> </p>
                <ul th:each="sample : ${keyword.getSamples()}">
                    <li><span th:text="${sample}"></span></li>
                </ul>
            </div>
        </div>

<ul>
    <li th:each="entity : ${support_case_report.getEntities()}"><span th:text="${entity.getName()}"></span> - <span th:text="${entity.getMentionsCount()}"> mentions</span> </li>
</ul>

<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</div>
</div>
</body>
</html>
 